.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Django
*.log
local_settings.py
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environments
.env
.env.*
.venv
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
.python-version

# IDEs / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Tooling
.pre-commit-cache/
.ruff_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
logs/
*.log
